* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body,html {
	display:flex;
	margin:0px;
	padding:0px;
	align-items:center;
	justify-content:center;
	height:100%;
	width:100%;
	font-family: "Open Sans",Verdana, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;
	accent-color: var(--accent-color);
	overflow:hidden;
	background:wheat;
	
	--main-bg: rgb(220,220,220);
	--transparent-hover: rgba(0,0,0,0.2);
	--pop-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	--container-background: rgb(240,240,240);
	--component-background: rgba(100,100,100,0.2);

	--accent-color: orange;
	--accent-color-light: gold;
	--ripple-color: rgba(255,200,0,0.6);
	--active-color: rgba(255,170,0,0.4);
	--message-sent-color: rgba(255,170,0,0.4);
	--hint-color: rgba(255, 200, 0, 0.5);
}

flex {
	display:flex;
}

td {
	padding:5px;
}

svg {
	fill: CanvasText;
	margin: 0;
	padding:0;
}

h1,h2,h3,h4,h5 {
	padding: 0;
	margin: 0;
}

a {
	color:black;
}

a:hover {
	background-color: var(--transparent-hover);
	text-decoration: none;
}

select {
	border:none;
	cursor:pointer;
	background: var(--component-background);
	padding:4px;
	border-radius:8px;
	transition: background-color 200ms;
}

body {
	position: relative;
}

.cb {
	width: 32px;
	height:32px;
	border-radius: 100%;
	background: transparent;
	cursor: pointer;
	margin: 2px;
	padding: 4px;
	flex-shrink:0;
}

.cb.active {
	background-color: var(--active-color);
}

.cb.small {
	width: 24px;
	height:24px;
	padding: 2px;
}

centeredPopup {
	display:block;
	min-width: 300px;
	max-width: 100%;
	max-height: 100%;
	background-color: var(--container-background);
	border-radius: 16px;
	padding: 8px;
	animation-name: dialogappear;
	animation-duration: 0.5s;
	box-shadow: var(--pop-box-shadow);
}

centeredPopup.closing:not(.slideclosing) {
	transform:scale(0.8);
	opacity:0;
	animation-name: dialogdisappear;
}

centeredPopup.slideclosing {
	animation-name: slidedown;
}

centeredPopup.docked {
	background-color: var(--main-bg);
	border-radius:0;
	animation-name: dialogappeardocked;
	animation-duration: 0.5s;
	width: 360px;
	max-height:100%;
	box-shadow: none;
	flex-shrink: 0;
}

centeredPopup.docked.closing {
	transform:scale(0.8);
	opacity:0;
	animation-name: dialogdisappeardocked;
}

main {
	display:flex;
	width:100%;
	height:100%;
	animation-name: mainappear;
	animation-duration: 0.3s;
	overflow:hidden;
}

leftarea {
	height:100%;
	width:25%;
	background-color: var(--main-bg);
	display:flex;
	flex-direction: column;
	position:relative;
	transition: opacity 1s;
	flex-shrink: 0;
}

rightarea {
	height:100%;
	width:100%;
	display:flex;
	flex-direction: column;
	background: var(--container-background);
	min-width: 0;
}

mchat {
	width: 100%;
	height:100%;
	display:flex;
	flex-direction: column;
	background-color: var(--main-bg);
}

input, textarea {
	border:none;
	padding:8px;
	border-radius:8px;
	outline:none;
	font: inherit;
	background-color: var(--component-background);
}

input:focus, textarea:focus {
	outline:1px solid gray;
	background-color: var(--transparent-hover);
}

button {
	border:none;
	padding: 6px;
	border-radius:8px;
	cursor:pointer;
	margin:2px;
	background-color: var(--component-background);
	transition: background-color 200ms;
}

button:disabled {
	opacity:0.5;
	cursor: default;
}

button:active:not(.fab):not(.ripple-element), select:active, .interactive:active {
	opacity:0.5;
}

.clist {
	display:block;
	width: 100%;
	height:100%;
	overflow:auto;
}

.bbar {
	display:flex;
	flex-shrink:0;
	align-items:center;
	padding: 8px;
}

titlebar {
	display:flex;
	height: 48px;
	width:100%;
	background-color: var(--main-bg);
	align-items:center;
	flex-shrink:0;
	position: relative;
}

titlebar.shadow::after, pinbar.shadow::after, .mediabar.shadow::after, msgbar.shadow::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 6px;
	top: 100%;
	left: 0;
	z-index: 1;
	background: linear-gradient(to bottom, var(--main-bg), transparent);
	pointer-events: none;
}

msgbar.shadow::after {
	top: -6px;
	background: linear-gradient(to top, var(--main-bg), transparent);
}

.transparentbtn {
	background:transparent;
	cursor:pointer;
}

.buttonlabel {
	background: transparent !important;
}

.circleimg {
	border-radius: 100%;
	width: 32px;
	height: 32px;
	margin: 4px;
	background:white;
	flex-shrink: 0;
	box-shadow: var(--pop-box-shadow);
}

.errorlabel {
	color: red;
	padding: 2px;
	text-align:center;
	display:block;
}

.infolabel {
	padding: 2px;
	text-align:center;
	display:block;
}

button.fab {
	background: var(--accent-color);
	width:60px;
	height:60px;
	padding:0;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius: 30px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 1;
	box-shadow: var(--pop-box-shadow);
	transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
	animation: scaleup;
	animation-duration: 200ms;
}

button.fab.secondary {
	background: var(--component-background);
	width:40px;
	height:40px;
	border-radius: 20px;
}


button.fab:hover:active {
	transform:scale(0.8);
}

.contextmenu > *, .customctx > div > * {
	width:100%;
}

.contextmenu button, .customctx button {
	border:none;
	white-space: nowrap;
	padding:6px 32px 6px 32px;
	background: transparent;
	margin:0px;
}
.contextmenu {
	outline: 1px solid gray;
	z-index: 100;
	border-radius:8px;
	background: var(--container-background);
	transition: opacity 200ms;
	box-shadow: var(--pop-box-shadow);
}

.customctx {
	z-index:100;
	transition: opacity 200ms;
}
.customctx > div {
	outline: 1px solid gray;
	border-radius:8px;
	background: var(--container-background);
	transition: opacity 200ms;
	animation-name: ctxappear;
	animation-duration: 200ms;
	box-shadow: var(--pop-box-shadow);
	margin-bottom: 8px;
}

.popup {
	position: fixed;
	z-index: 100;
	transition: opacity 200ms;
	opacity: 0;
}

.popupmenu {
	outline: 1px solid gray;
	border-radius:8px;
	overflow: auto;
	background: var(--container-background);
	/*max-height: 0px;*/
	display: flex;
	flex-direction: column;
	box-shadow: var(--pop-box-shadow);
}

.popupmenu > button {
	display: flex;
	align-items: center;
	background: transparent;
	flex-shrink: 0;
}

.popupmenu > button > div {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
}

.popupmenu > button > label {
	padding: 4px 32px 4px 4px;
	display: block;
	cursor: pointer;
}

.emojilist {
	width: 400px;
	height: 60vh;
	overflow: auto;
}

.emojilist > button {
	width: 40px;
	height: 40px;
	font-size: larger;
}

.emojilist > button:not(:hover) {
	background: transparent;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid var(--accent-color);
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

.loading {
	animation-name: loading;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	background-color:gray;
	color: transparent;
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.loading::before {
	content: '';
	width: 10%;
	background-color: lightgray;
	position: absolute;
	top: 0;
	bottom: 0;
	animation-name: loadingbar;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	z-index: 1;
}

.bgcover {
	background: rgba(0,0,0,0.3);
	display:flex;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:6;
	animation-name: bgappear;
	animation-duration: 200ms;
}

.bgcover.closing {
	animation-name: bgdisappear;
	opacity:0;
	pointer-events: none;
}

.mediabar {
	height: 28px;
	font-size: small;
	display: flex;
	align-items: center;
	position: relative;
}

.mediabar > button {
	width: 28px;
	height: 28px;
	border-radius: 0;
}

.mediabar > button:not(:hover) {
	background: transparent;
}

.mediabar > label {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* ------ CHAT AREA ------ */

.messagescont {
	width: 100%;
	height:100%;
	position: relative;
	min-height: 0;
	border-radius: 16px;
	overflow: hidden;
}

.messagescont > messageslist {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.messagescont > messageslist.pinned {
	background-color: var(--main-bg);
	transform-origin: center top;
	animation-name: topgrowfly;
	animation-duration: 200ms;
	z-index: 2;
}

messageslist {
	display:flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 8px 0 2px 0;
	background-color: var(--container-background);
}

msgscont {
	display:flex;
	flex-direction: column;
}

msgscont > msgcont:not(:first-child) > img {
	visibility: hidden;
}

msgscont > msgcont:not(:first-child) > msgmain > msgsender {
	display: none;
}

msgcont:focus-visible {
	background: var(--transparent-hover);
}

pinbar {
	display:flex;
	height: 56px;
	width:100%;
	background-color: var(--main-bg);
	align-items:center;
	flex-shrink:0;
	position: relative;
}

pinbar > .replycont {
	flex-shrink: initial;
}

.replycont {
	display:flex;
	width:100%;
	flex-direction:column;
	flex-shrink:0;
	padding:6px;
	opacity:0.7;
	margin: 5px;
	border-radius: 5px;
	border-left: 3px solid white;
	text-align: inherit;
	font-size: inherit;
	background:transparent;
	max-height: 40vh;
}

.replycont:hover {
	opacity: 1;
}

.replycont > label {
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

attachmentscont {
	display:flex;
	width:100%;
	flex-shrink:0;
	/*padding:6px;*/
	overflow: auto;
	/*height: 52px;*/
}
attachmentscont > uploaditm {
	min-height: min-content;
}

.msgmediacont {
	display: grid;
	grid-template-columns: auto auto auto auto;
}
.msgmedia {
	width: 100px;
	height: 100px;
	margin: 2px;
	border-radius: 8px;
	transition: box-shadow 200ms, background-color 200ms;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: inherit;
	font-size: inherit;
}
.msgmedia > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-color: white;
}
.msgmedia > .icon {
	position: absolute;
	top: calc(50% - 24px);
	left: calc(50% - 24px);
	width: 48px;
	height: 48px;
	border-radius: 24px;
	background-color: var(--container-background);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.msgmedia > .info {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 8px;
	background-color: var(--container-background);
	border-radius: 8px 0 0 0;
	z-index: 2;
}
msgmedia {
	cursor:pointer;
}
.msgmedia:hover {
	box-shadow: var(--pop-box-shadow);
}

uploaditm {
	width: 64px;
	height: 64px;
	margin:6px;
	position:relative;
	overflow:hidden;
	border-radius: 8px;
	background: rgba(0,0,0,0.1);
	flex-shrink: 0;
	animation: appearfrombottom;
	animation-duration: 0.5s;
}

uploaditm svg {
	fill: white;
}

uploaditm > div {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

uploaditm > div > img {
	object-fit: cover;
	width:100%;
	height:100%;
}

uploaditm > button {
	position:absolute;
	top: 5px;
	right: 5px;
	background: rgba(255,0,0,0.2);
	border-radius:100%;
	width:24px;
	height:24px;
	padding: 2px;
}

uploaditm > button:hover {
	background: rgba(255,0,0,0.2);
}

msgbar {
	display:flex;
	width:100%;
	flex-direction:column;
	flex-shrink:0;
	background-color: var(--main-bg);
	max-height: 100%;
	transition: max-height 0.2s;
	position: relative;
}

msgbar > * {
	transition: opacity 0.2s, transform 0.2s;
}

msgbar.collapsed {
	max-height: 0%;
}

msgbar.hidden > *, msgbar.collapsed > * {
	pointer-events: none;
	opacity: 0;
	transform: translateY(100%);
}

msgbar > div {
	display:flex;
	min-height: 48px;
	width:100%;
	align-items:center;
	flex-shrink:0;
}


msgbar > div > textarea {
	min-height: 40px;
	border-radius: 20px;
	margin: 4px;
	width: 100%;
	resize: vertical;
}

.chatitem {
	padding: 8px;
	width:100%;
	display: flex;
	margin: unset;
	cursor:pointer;
	text-align: inherit;
	font-size: inherit;
	border-radius: 0;
	background: transparent !important;
	outline: none !important;
}

.chatitem > .maincont {
	display:flex;
	border-radius: 8px;
	padding: 8px;
	width: 100%;
	transition: background-color 200ms;
	align-items: center;
}

.chatitem.active > .maincont {
	background: var(--active-color) !important;
}

.chatitem > .maincont > img {
	border-radius: 100%;
	width: 40px;
	height: 40px;
	margin-right: 8px;
	flex-shrink:0;
	background:white;
	box-shadow: var(--pop-box-shadow);
}

.chatitem > .maincont > infoarea {
	display:flex;
	flex-direction: column;
	width:100%;
	overflow: hidden; 
}

.chatitem > .maincont > infoarea > label {
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden; 
	width:100%;
	cursor:pointer;
}

.chatitem > .maincont > infoarea > titlecont {
	display:flex;
	align-items: center;
	
}

.chatitem > .maincont > infoarea > titlecont > h4 {
	width:100%;
	cursor:pointer;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	min-width:0;
	display:block;
}

.chatitem > .maincont > infoarea > titlecont > time {
	white-space: nowrap;
	flex-shrink: 0;
	font-size:9px;
	cursor:pointer;
	display: block;
}

ma {
	display:block;
	margin:auto;
}

.reactionsbar {
	width: 315px;
}

.reactionsbar > button.emoji {
	transition: transform 100ms;
	border-radius: 100%;
	font-size: 20px;
	width: 35px !important;
	height: 35px;
	padding: 4px !important;
	flex-shrink: 0;
	outline: none !important;
}
.reactionsbar > button.reacted {
	background-color: var(--transparent-hover);
	transform: scale(0.9);
}
.reactionsbar > button.emoji:hover:not(.reacted):not(:active) {
	transform: scale(1.2);
}
.reactionsbar > button.emoji:active {
	transform: scale(0.9);
}

msgcont {
	width:100%;
	display:flex;
	position: relative;
	/*align-items: flex-end;*/
	animation-name: msgcappear;
	animation-duration: 0.5s;
	flex-shrink: 0;
	transition: background-color 200ms;
	padding: 2px 10% 2px 10%;
}

msgcont.hint {
	background: var(--hint-color);
}

msgcont > .selectid {
	border: 1px solid CanvasText;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	font-size: medium;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	align-self: center;
	animation-name: slideright;
	animation-duration: 200ms;
}

msgcont.selected {
	background-color: var(--accent-color);
}

msgcont.selected > .selectid{
	background-color: var(--accent-color);
}

messageslist.selection > msgcont {
	cursor: pointer;
	user-select: none;
}

messageslist.selection > msgcont > * {
	pointer-events: none;
}

messageslist:not(.selection) > msgcont:not(.selected) > .selectid {
	display: none;
}

msgcont > img {
	width: 40px;
	height:40px;
	border-radius: 100%;
	margin: 0px 8px 0px 8px;
	background:white;
	box-shadow: var(--pop-box-shadow);
	position: relative;
	align-self: flex-end;
	bottom: 16px;
}

msgcont > img.hidden {
	visibility: hidden;
}

msgmain {
	display:flex;
	flex-direction:column;
	max-width: 80%;
	/*margin: 0px 56px 0px 56px;*/
}

msgmain > msgbubble {
	display:block;
	border-radius: 6px;
	padding: 6px;
	background: rgba(100,100,100,0.4);
	width:auto;
	animation-name: msgbappear;
	animation-duration: 0.5s;
	box-shadow: var(--pop-box-shadow);
}

msgmain > msgsender.hidden {
	display:none;
}

msgmain.sender > msgbubble {
	background: var(--message-sent-color);
}

msgmain.sender > msgsender {
	display:none;
}

msgmain > msgsender > label {
	font-size: 10px;
	font-weight: bold;
}

msgmain > msgstate {
	display:flex;
}

msgmain > msgstate > label {
	font-size: 10px;
	padding: 4px;
}

msgmain > msgstate > .cb {
	margin: 0px 4px 0px 0px;
}

msgreacts {
	display: block;
	min-width: 100%;
}

msgreacts > button {
	display: inline-flex;
	border-radius: 18px;
	height:26px;
	align-items:center;
	justify-content: center;
	margin:2px;
	padding: 4px;
}
msgreacts > button:hover {
	opacity: 0.9;
}

msgreacts > button * {
	cursor:pointer;
}

msgreacts > button.rcted {
	background: rgba(255,255,255,1) !important;
	color:black;
}

/*msgreacts > button.rcted > label:first-child {
	animation-name: reactappear;
	animation-duration: 0.5s;
}*/

.messageattachment {
	display:flex;
	align-items:center;
	border-radius:5px;
	padding:8px;
	margin: 2px;
	cursor:pointer;
	background: transparent;
	text-align: left;
	width: 100%;
}

.messageattachment:hover {
	background: var(--transparent-hover);
}

.messageattachment > div:first-child {
	background-color: var(--accent-color);
	border-radius: 100%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 8px;
	flex-shrink: 0;
}

.messageattachment > .info {
	display: flex;
	flex-direction: column;
}

.messageattachment > div > label {
	cursor:pointer;
	overflow-wrap:anywhere;
}

.messageattachment > div > label:first-child {
	font-weight:bold;
}

.typinglabel {
	font-size: 9px;
	padding: 2px;
	transition: opacity 0.5s;
}

/* ------ ANIMATIONS ------ */

@keyframes bgappear {
	from {opacity:0;}
}

@keyframes bgdisappear {
	from {opacity:1;}
}

@keyframes ctxappear {
	from {transform:scale(0.8);}
}

@keyframes loading {
	0%   {opacity:0.3;}
	50%  {opacity:0.8;}
	100% {opacity:0.3;}
}
@keyframes loadingbar {
	from {width: 10%; left: -10%;}
	to {width:100%; left: 100%;}
}

@keyframes msgbappear {
  from {transform:scale(0.9);}
}
@keyframes msgcappear {
	from {opacity:0;}
}

@keyframes dialogappear {
  from {transform:scale(0.8);opacity:0;}
}
@keyframes dialogdisappear {
  from {transform:scale(1);opacity:1;}
}

@keyframes dialogappeardocked {
	from {transform:scale(0.8) translateX(100%);opacity:0;}
	to {transform:scale(1) translateX(0);opacity:1;}
}
@keyframes dialogdisappeardocked {
	from {transform:scale(1) translateX(0);opacity:1;}
	to {transform:scale(0.8) translateX(100%);opacity:0;}
}

@keyframes mainappear {
	from {transform:translateX(100%);opacity:0;}
}

@keyframes reactappear {
	0% {transform:scale(0.8);opacity:0;}
	50% {transform:scale(1.1);}
}

@keyframes topgrowfly {
	0% {transform: scaleY(0);opacity: 0;}
	100% {transform:scaleY(1);}
}

@keyframes slideup {
  	from {transform:translateY(100vh);opacity:0;}
	to {transform:translateY(0);opacity:1;}
}

@keyframes slidedown {
	from {opacity:1;}
  	to {transform:translateY(100vh);opacity:0;}
}

@keyframes slideright {
	from {transform:translateX(-100%);opacity:0;}
  	to {transform:translateX(0);opacity:1;}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes appearfrombottom {
  0% { transform: translateY(10%); opacity: 0; }
  80% { transform: translateY(-2%); }
}

@keyframes scaleup {
  from {transform:scale(0);}
}


/* ------ MEDIA RULES ------ */


/* HOVER (on cursor only) */
@media (hover: hover) and (pointer: fine) {
	.chatitem:hover > .maincont, .chatitem:focus-visible > .maincont {
		background: var(--transparent-hover);
		outline:1px solid gray;
	}

	button:not(:disabled):hover {
		background-color: var(--transparent-hover);
		outline:1px solid gray;
	}

	button.fab:hover {
		box-shadow: none;
	}

	button.fab:hover:not(.secondary) {
		background:var(--accent-color-light);
	}

	select:hover {
		outline:1px solid gray;
		background: var(--transparent-hover);
	}
}


@media only screen and (min-width: 2000px) {
	msgcont {
		padding: 2px 15% 2px 15%;
	}
}
/*@media only screen and (min-width: 1900px) {
	main {
		width:98%;
		height:98%;
		border-radius:8px;
	}
	body {
		font-size:20px;
	}
}*/


@media only screen and (max-width: 1024px) {
	msgcont {
		padding: 2px 0 2px 0;
	}
	centeredPopup {
		max-width:100%;
		max-height:100%;
	}
}

@media only screen and (max-width: 800px) {
	leftarea {
		width:100%;
	}
	rightarea {
		display:none;
		position:absolute;
		top:0;
		left:0;
		transition: transform 0.5s;
		transform: translateX(100%);
	}
	centeredPopup {
		width:100%;
		height:100%;
		animation-name: slideup;
		border-radius: 0px;
	}
	centeredPopup.closing:not(.slideclosing) {
		animation-name: slidedown;
		transform: translateY(0);
	}
	.msgmediacont {
		grid-template-columns: auto auto auto;
	}
}

@media only screen and (max-width: 420px) {
	.msgmediacont {
		grid-template-columns: auto auto;
	}
}



@media (prefers-color-scheme: dark) {
	html,body {
		background:#2b230c;
		--main-bg: rgb(40,40,40);
		--transparent-hover: rgba(255,255,255,0.2);
		--container-background: rgb(30,30,30);
		--component-background: rgba(120,120,120,0.2);
	}
	filed > div > label, a {
		color:white;
	}
}

@media (prefers-reduced-motion) {
	* {
		transition: none !important;
		animation:none !important;
	}
}

@media print {
	leftarea, .customctx, titlebar, pinbar, msgbar, .bgcover, centeredPopup {
		display:none !important;
	}
	rightarea {
		display:block !important;
		background:white;
		color:black;
	}
	msgcont {
		break-inside: avoid;
	}
	messageslist,html,body,main,.messagescont {
		overflow:visible !important;
		background:white;
	}
}
