* {
box-sizing: border-box;
}

body,html {
	display:flex;
	margin:0px;
	padding:0px;
	align-items:center;
	justify-content:center;
	height:100%;
	width:100%;
	font-family: "Open Sans",Verdana, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;
	accent-color:orange;
	overflow:hidden;
	background:wheat;
	--main-bg: #ebebeb;
	--transparent-hover: rgba(0,0,0,0.2);
}

flex {
	display:flex;
}

td {
	padding:5px;
}

body {
	position: relative;
}

.cb {
	width: 30px;
	height:30px;
	border-radius: 100%;
	background: transparent;
	cursor: pointer;
	margin: 2px;
	flex-shrink:0;
}

.cb:hover {
	background:var(--transparent-hover);
}

svg {
	fill: CanvasText;
	margin: 0;
	padding:0;
}

select {
	border:none;
	cursor:pointer;
	background: rgba(0,0,0,0.1);
	padding:4px;
	border-radius:8px;
}

select:hover {
	outline:1px solid gray;
	background: rgba(0,0,0,0.2);
}

centeredPopup {
	display:block;
	min-width: 300px;
	max-width: 100%;
	max-height: 100%;
	background-color: var(--main-bg);
	border-radius: 8px;
	padding:8px;
	animation-name: dialogappear;
	animation-duration: 0.5s;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

centeredPopup.docked {
	background-color: var(--main-bg);
	border-radius:0;
	animation-name: dialogappeardocked;
	animation-duration: 0.5s;
	max-width:100%;
	max-height:100%;
	box-shadow: none;
}

h1,h2,h3,h4,h5 {
	padding: 0;
	margin: 0;
}

main {
	display:flex;
	width:100%;
	height:100%;
	animation-name: mainappear;
	animation-duration: 0.3s;
	overflow:hidden;
}

leftarea {
	height:100%;
	width:25%;
	background-color: var(--main-bg);
	display:flex;
	flex-direction: column;
	position:relative;
	transition: opacity 1s;
	flex-shrink: 0;
}

rightarea {
	height:100%;
	width:100%;
	display:flex;
	flex-direction: column;
	background: rgb(240,240,240);
	min-width: 0;
}

mchat {
	width: 100%;
	height:100%;
	display:flex;
	flex-direction: column;
}

input,textarea {
	border:none;
	padding:5px;
	border-radius:8px;
	outline:none;
}

button {
	border:none;
	padding:5px;
	border-radius:8px;
	cursor:pointer;
	margin:2px;
}
button:disabled {
	opacity:0.5;
	cursor: default;
}

.clist {
	display:block;
	width: 100%;
	height:100%;
	overflow:auto;
	padding:4px;
}

messageslist {
	display:flex;
	flex-direction: column;
	width: 100%;
	height:100%;
	overflow:auto;
	padding:3px;
	padding-left:5%;
	padding-right:5%;
}

msgscont {
	display:flex;
	flex-direction: column;
}

msgscont > msgcont:not(:first-child) > img {
	visibility: hidden;
}

msgscont > msgcont:not(:first-child) > msgmain > msgsender {
	display: none;
}

.bbar {
	display:flex;
	flex-shrink:0;
	min-height:30;
	align-items:center;
	background: var(--main-bg);
}

titlebar {
	display:flex;
	height: 48px;
	width:100%;
	background-color: var(--main-bg);
	align-items:center;
	flex-shrink:0;
}

pinbar {
	display:flex;
	height: 56px;
	width:100%;
	background-color: var(--main-bg);
	align-items:center;
	flex-shrink:0;
}
pinbar > .replycont {
	flex-shrink: initial;
}

.replycont {
	display:flex;
	width:100%;
	flex-direction:column;
	flex-shrink:0;
	padding:6px;
	opacity:0.7;
	margin: 5px;
	border-radius: 5px;
	border-left: 3px solid white;
	text-align: inherit;
	font-size: inherit;
	background:transparent;
}

.replycont:hover {
	opacity: 1;
}

.replycont > label {
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

attachmentscont {
	display:flex;
	width:100%;
	flex-shrink:0;
	/*padding:6px;*/
	overflow: auto;
	/*height: 52px;*/
}
attachmentscont > uploaditm {
	min-height: min-content;
}

.msgimg {
	width:64px;
	height:64px;
	object-fit: cover;
	margin:2px;
	border-radius:8px;
	cursor:pointer;
	transition: box-shadow 200ms;
}
.msgimg:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

uploaditm {
	width:52px;
	height:52px;
	margin:6px;
	position:relative;
	overflow:hidden;
	border-radius: 8px;
	background: rgba(0,0,0,0.1);
}
uploaditm > div {
	position:absolute;
	top:0;
	left:0;
	right:0;
	left:0;
}
uploaditm > div > img {
	object-fit: cover;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
uploaditm > button {
	position:absolute;
	top: 5px;
	right: 5px;
	background: rgba(0,0,0,0.1);
	border-radius:100%;
	width:30px;
	height:30px;
}

uploaditm > button:hover {
	background: rgba(255,0,0,0.2);
}

msgbar {
	display:flex;
	width:100%;
	flex-direction:column;
	flex-shrink:0;
	background-color: var(--main-bg);
}

msgbar > div {
	display:flex;
	min-height: 48px;
	width:100%;
	align-items:center;
	flex-shrink:0;
}


msgbar > div > textarea {
	min-height: 40px;
	border-radius: 20px;
	margin: 4px;
	width: 100%;
	resize: vertical;
}

.transparentbtn {
	background:transparent;
	cursor:pointer;
}

.transparentbtn:hover {
	background: var(--transparent-hover)
}

.circleimg {
	border-radius: 100%;
	width: 32px;
	height: 32px;
	background:white;
	flex-shrink: 0;
}

.chatitem {
	display:flex;
	padding: 8px;
	border-radius: 0px;
	width:100%;
	/*height:54px;*/
	margin: unset;
	cursor:pointer;
	transition: background-color 300ms, border-radius 300ms, transform 300ms;
	text-align: inherit;
	font-size: inherit;
	background:transparent;
	border-bottom: 1px solid gray;
}

.chatitem:hover {
	background: var(--transparent-hover);
	border-bottom: 1px solid transparent;
}

.chatitem.active {
	background: rgba(255,170,0,0.4);
	border-bottom: 1px solid transparent;
}

.chatitem > img {
	border-radius: 100%;
	width: 40px;
	height: 40px;
	margin-right: 5px;
	flex-shrink:0;
	background:white;
}

.chatitem > infoarea {
	display:flex;
	flex-direction: column;
	width:100%;
	overflow: hidden; 
}

.chatitem > infoarea > label {
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden; 
	width:100%;
	cursor:pointer;
}

.chatitem > infoarea > titlecont {
	display:flex;
	align-items: center;
	
}

.chatitem > infoarea > titlecont > h4 {
	width:100%;
	cursor:pointer;
	white-space:nowrap;
	text-overflow: ellipsis;
	min-width:0;
	display:inline;
}

.chatitem > infoarea > titlecont > time {
	white-space: nowrap;
	flex-shrink: 0;
	font-size:9px;
	cursor:pointer;
}

ma {
	display:block;
	margin:auto;
}
.reactionbtn {
	transition: transform 100ms;
	border-radius: 100%;
	font-size: 20px;
	width: 35px !important;
	height: 35px;
	padding: 4px !important;
}
.reactionbtn:hover {
	transform: scale(1.2);
}

.reactionbtn:active {
	transform: scale(0.9);
}

msgcont {
	width:100%;
	display:flex;
	animation-name: msgcappear;
	animation-duration: 0.5s;
	flex-shrink: 0;
	transition: background-color 100ms;
	padding: 2px;
}

msgcont.hint {
	background: rgba(255, 200, 0, 0.5);
}

msgcont > img {
	width: 40px;
	height:40px;
	border-radius: 100%;
	margin:4px;
	background:white;
}

msgmain {
	display:flex;
	flex-direction:column;
	max-width: 80%;
}

msgmain > msgbubble {
	display:block;
	border-radius: 6px;
	padding: 5px;
	background: rgba(100,100,100,0.4);
	width:auto;
	animation-name: msgbappear;
	animation-duration: 0.5s;
}

msgmain.sender > msgbubble {
	background: rgba(255,170,0,0.4);
}

msgmain.sender > msgsender {
	display:none;
}

msgmain > msgsender > label {
	font-size: 10px;
}

msgmain > msgtime > label {
	font-size: 10px;
}

msgmain > msgtime {
	display:flex;
}

msgreacts {
	display: block;
	min-width: 100%;
}

msgreacts > div {
	display: inline-flex;
	border-radius: 18px;
	height:26px;
	background: rgba(255,255,255,0.2);
	align-items:center;
	margin:2px;
	padding: 4px;
}
msgreacts > div:hover {
	opacity: 0.9;
	outline: 1px solid gray;
}

msgreacts > div * {
	cursor:pointer;
}

msgreacts > div.rcted {
	background: rgba(255,255,255,1);
	color:black;
}

/*msgreacts > div.rcted > label:first-child {
	animation-name: reactappear;
	animation-duration: 0.5s;
}*/

.errorlabel {
	color: red;
	padding: 2px;
	text-align:center;
	display:block;
}

.infolabel {
	padding: 2px;
	text-align:center;
	display:block;
}

button.fab {
	background:orange;
	width:60px;
	height:60px;
	padding:0;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius: 30px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index:1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}
button.fab:hover {
	background:gold;
	box-shadow: none;
}
button.fab:hover:active {
	transform:scale(0.8);
}

.contextmenu > *, .customctx > div > * {
	width:100%;
}

.contextmenu button, .customctx button {
	border:none;
	white-space: nowrap;
	padding:6px;
	background: transparent;
	margin:0px;
}
.contextmenu button:hover:not(:disabled), .customctx button:hover:not(:disabled) {
	background: var(--transparent-hover);
}
.contextmenu {
	outline: 1px solid gray;
	z-index: 100;
	border-radius:8px;
	overflow:hidden;
	background: rgb(240,240,240);
	transition: opacity 200ms;
}

.customctx {
	z-index:100;
	transition: opacity 200ms;
}
.customctx > div {
	outline: 1px solid gray;
	border-radius:8px;
	overflow:hidden;
	background: rgb(240,240,240);
	transition: opacity 200ms;
	width: fit-content;
	animation-name: ctxappear;
	animation-duration: 200ms;
}

.popupmenu {
	position: fixed;
	outline: 1px solid gray;
	z-index:100000;
	border-radius:8px;
	overflow: auto;
	background: rgb(240,240,240);
	transition: opacity 200ms, max-height 200ms;
	/*max-height: 0px;*/
	opacity: 0;
	display: flex;
	flex-direction: column;
}

.popupmenu > button {
	display: flex;
	align-items: center;
	background: transparent;
}

.popupmenu > button:hover {
	background: var(--transparent-hover);
}

.popupmenu > button > div {
	flex-shrink: 0;
	width: 24px;
	height: 24px;
}

.popupmenu > button > label {
	padding-left: 8px;
	padding-right: 32px;
	display: block;
	cursor: pointer;
}

.loading {
	animation-name: loading;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	background-color:gray;
	color: transparent;
}

a {
	color:black;
}

filed {
	display:flex;
	align-items:center;
	border-radius:5px;
	padding:4px;
}

filed:hover {
	background: rgba(255,255,255,0.1);
}

filed > div > label {
	text-decoration: none !important;
	color:black;
	font-weight:bold;
	cursor:pointer;
	overflow-wrap:anywhere;
}

.typinglabel {
	font-size: 9px;
	padding: 2px;
	transition: opacity 0.5s;
}

.bgcover {
	background: rgba(0,0,0,0.3);
	display:flex;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:6;
	animation-name: bgappear;
	animation-duration: 200ms;
}

@keyframes bgappear {
	from {opacity:0;}
}

@keyframes ctxappear {
	from {transform:scale(0.8);}
}

@keyframes loading {
	0%   {opacity:0.3;}
	50%  {opacity:0.8;}
	100% {opacity:0.3;}
}

@keyframes msgbappear {
  from {transform:scale(0.9);}
}
@keyframes msgcappear {
	from {opacity:0;}
}

@keyframes dialogappear {
  from {transform:scale(0.8);opacity:0;}
}
@keyframes dialogappeardocked {
	from {transform:scale(0.8) translateX(100%);opacity:0;}
}

@keyframes mainappear {
	from {transform:translateX(100%);opacity:0;}
}

@keyframes reactappear {
	0% {transform:scale(0.8);opacity:0;}
	50% {transform:scale(1.1);}
}

@keyframes slideup {
  from {transform:translateY(100%);opacity:0;}
}

@media only screen and (min-width: 2000px) {
	messageslist {
		padding-left:10%;
		padding-right:10%;
	}
}
/*@media only screen and (min-width: 1900px) {
	main {
		width:98%;
		height:98%;
		border-radius:8px;
	}
	body {
		font-size:20px;
	}
}*/


@media only screen and (max-width: 1024px) {
	messageslist {
		padding: 0;
	}
	centeredPopup {
		max-width:100%;
		max-height:100%;
	}
}

@media only screen and (max-width: 800px) {
	leftarea {
		width:100%;
	}
	rightarea {
		display:none;
		position:absolute;top:0;left:100%;transition: left 0.5s;
	}
	centeredPopup {
		width:100%;
		height:100%;
		animation-name: slideup;
	}
}

@media (prefers-color-scheme: dark) {
	html,body {
		background:#2b230c;
		--main-bg: #171717;
		--transparent-hover: rgba(255,255,255,0.2);
	}
	rightarea {
		background: rgb(20,20,20);
	}
	.contextmenu, .customctx > div, .popupmenu {
		background: rgb(40,40,40);
	}
	filed > div > label, a {
		color:white;
	}
}

@media (prefers-reduced-motion) {
	* {
		transition: none !important;
		animation:none !important;
	}
}

@media print {
	leftarea, .customctx, titlebar, pinbar, msgbar, .bgcover {
		display:none !important;
	}
	rightarea {
		display:block !important;
		background:white;
		color:black;
	}
	msgcont {
		break-inside: avoid;
	}
	messageslist {
		overflow:visible !important;
	}
	html,body,main {
		overflow:visible;
		background:white;
	}
	
}
